@import styles/variables

.main
  width: 100%
  display: flex
  flex-direction: column

  .intro
    height: 100%
    min-height: 32rem
    display: flex
    flex-direction: column
    margin-bottom: 4rem

    .content_title
      display: flex
      flex-direction: column
      font-size: 2.5rem
      text-transform: uppercase
      text-align: center

      .title
        color: $fourth-color

        .highlight
          color: $primary-color


      .subtitle
        font-size: 1.7rem
        margin-bottom: 2rem
        font-weight: 400
        color: $fourth-color

      .action_button
        display: flex

        .link
          font-family: MontserratMedium

          &:first-child
            margin-right: 2rem

          &.button
            padding: 1rem 1.5rem
            border-radius: .3rem

            &.active
              border: solid 1px transparent
              background-color: $secondary-color

              &:hover
                background-color: rgba(black, .5)
                color: white
                border: solid 1px $primary-color

            &.light
              border: solid 1px $primary-color
              background-color: transparent

  .one_column
    width: 100%
    height: auto