@import styles/variables

.main
  width: 100%
  display: flex
  flex-direction: column

  .intro
    height: 100%
    min-height: 32rem
    display: grid
    grid-template-columns: 40% 1fr
    column-gap: 2rem
    margin-bottom: 4rem

    .left_content
      display: flex
      flex-direction: column

      .content__title
        font-size: 2.5rem
        margin-bottom: 2rem

        span
          color: $third-color

      .explanation
        font-size: .9rem
        margin-bottom: 2rem

      .action_button
        display: flex

        .link
          font-family: MontserratMedium

          &:first-child
            margin-right: 2rem

          &.button
            padding: 1rem 1.5rem
            border-radius: .3rem

            &.active
              border: solid 1px transparent
              background-color: $secondary-color

              &:hover
                background-color: rgba(black, .5)
                color: white
                border: solid 1px $primary-color

            &.light
              border: solid 1px $primary-color
              background-color: transparent

    .right_content
      position: relative
      display: grid
      grid-template-columns: repeat(3, 14rem) // 260px
      column-gap: 2rem

      .imageContainer
        position: relative
        height: 27rem

        &:last-of-type
          margin-right: unset

        .wrapper_1, .wrapper_2, .wrapper_3
          position: absolute
          width: 100%
          height: 27rem
          border-radius: .4rem
          background-color: rgba($secondary-color, .1)

          .fifa, .overwatch, .lol
            position: absolute

          .fifa
            bottom: -.2rem
            left: -1rem

          .overwatch
            width: 20rem
            left: -4.6rem
            bottom: -1rem
            transform: rotate(358deg)

          .lol
            width: 30rem
            height: auto
            top: -5rem
            left: -7rem

        .wrapper_1
          top: 5rem

        .wrapper_2
          top: 1rem

        .wrapper_3
          top: -3rem

  .one_column
    width: 100%
    height: auto